<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="connectionstringAuth" connectionString="data source=(local);initial catalog=E4IntMgtAcc;User ID=test;Password=test;" providerName="System.Data.SqlClient" />
    <add name="E4IntMgtAccEntities" connectionString="metadata=res://*/REPS.DATA.Authenticate.ENtity.csdl|res://*/REPS.DATA.Authenticate.ENtity.ssdl|res://*/REPS.DATA.Authenticate.ENtity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=E4IntMgtAcc;persist security info=True;user id=test;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="REPSEntities" connectionString="metadata=res://*/REPS.DATA.csdl|res://*/REPS.DATA.ssdl|res://*/REPS.DATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=REPS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="certificateName" value="REPSCERT2017" />
    <add key="NewUserEmailTemplate" value="C:\inetpub\wwwroot\repsFiles\SystemFiles\EmailTemplate\" />
    <add key="MailService" value="http://localhost:57275" />
    <add key="mailuser" value="e4testuser@gmail.com" />
    <add key="mailpass" value="e4international" />
    <add key="mailport" value="587" />
    <add key="mailhost" value="smtp.gmail.com" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483644" executionTimeout="1200" />
    <sessionState mode="InProc" timeout="1000"></sessionState>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <!-- Bindings -->
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISearchWorksAPIService" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="BasicHttpsBinding_ISearchWorksAPIService" />
      </basicHttpsBinding>   
      <webHttpBinding>
        <binding name="webHttpBinding" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <client>
      <endpoint address="https://uatapi.searchworks.co.za/SearchWorksAPI/SearchWorksAPIService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_ISearchWorksAPIService" contract="SearchWorksServiceReference.ISearchWorksAPIService" name="BasicHttpsBinding_ISearchWorksAPIService" />
    </client> 
    <!-- End Bindings -->
    <behaviors>
      <endpointBehaviors>
        <!-- plain old XML -->
        <behavior name="poxBehavior"></behavior>
        <!-- JSON -->
        <behavior name="jsonBehavior">
          <webHttp />
          <!--<WebServiceInterceptor />-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- Extensions to inspect token in header -->
    <extensions>
      <behaviorExtensions>
        <add name="WebServiceInterceptor" type="REPS.WCF.WebServiceInterceptor, REPS.WCF" />
      </behaviorExtensions>
    </extensions>
    <!-- End Extensions -->
    <services>

      <service name="REPS.WCF.BankService">
        <endpoint contract="REPS.WCF.IBankService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.DealService">
        <endpoint contract="REPS.WCF.IDealService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.CountryService">
        <endpoint contract="REPS.WCF.ICountryService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>


      <service name="REPS.WCF.AddressService">
        <endpoint contract="REPS.WCF.IAddressService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.ParticipantService">
        <endpoint contract="REPS.WCF.IParticipantService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.OrganizationService">
        <endpoint contract="REPS.WCF.IOrganizationService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.PersonService">
        <endpoint contract="REPS.WCF.IPersonService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.HeaderTabService">
        <endpoint contract="REPS.WCF.IHeaderTabService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.WorkflowService">
        <endpoint contract="REPS.WCF.IWorkflowService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.MortgageService">
        <endpoint contract="REPS.WCF.IMortgageService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.ReportService">
        <endpoint contract="REPS.WCF.IReportService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.AlertsService">
        <endpoint contract="REPS.WCF.IAlertsService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.AuditService">
        <endpoint contract="REPS.WCF.IAuditService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.RoleService">
        <endpoint contract="REPS.WCF.IRoleService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

    </services>
    <protocolMapping>
      <!--<add binding="basicHttpsBinding" scheme="https" />-->
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <!-- Define some output appenders > -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\REPS\repswcf.txt" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] | %-5level | %logger _ [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <!-- Specify the level for some specific categories -->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>