<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="connectionstringAuth" connectionString="data source=(local);initial catalog=E4IntMgtAcc;User ID=test;Password=test;" providerName="System.Data.SqlClient" />
    <add name="E4IntMgtAccEntities" connectionString="metadata=res://*/REPS.DATA.Authenticate.ENtity.csdl|res://*/REPS.DATA.Authenticate.ENtity.ssdl|res://*/REPS.DATA.Authenticate.ENtity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=E4IntMgtAcc;persist security info=True;user id=test;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="REPSEntities" connectionString="metadata=res://*/REPS.DATA.csdl|res://*/REPS.DATA.ssdl|res://*/REPS.DATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=REPS;persist security info=True;user id=test;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="certificateName" value="REPSCERT2017" />
    <add key="NewUserEmailTemplate" value="C:\inetpub\wwwroot\repsFiles\SystemFiles\EmailTemplate\" />
    <add key="MailService" value="http://mau-uat-001.cloudapp.net/REPS" />
    <add key="mailuser" value="e4testuser@gmail.com" />
    <add key="mailpass" value="e4international" />
    <add key="mailport" value="587" />
    <add key="mailhost" value="smtp.gmail.com" />

    <!-- Web API credentials for docfusion -->
    <add key="df:ClientId" value="80327787-f3e5-41d3-9962-6183792ef45e" />
    <!-- Expires 5/26/2017 -->
    <add key="df:AppKey" value="nxRKTOL+w8nTX9ISqFI0WIte8Oz5fR0/Sy9yPGg4fi0=" />
    <add key="df:ResourceId" value="http://eadocfusionaissaco.onmicrosoft.com/docfusionlitedaemon" />
    <add key="df:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="df:Tenant" value="891e35a9-96d4-4c76-8528-c088e06608f8" />
    <add key="df:URL" value="http://docfusionliteworker.cloudapp.net/api/DocFusion/GenerateDocument" />
    <!-- end Web API credentials for docfusion -->

    <!--User Files Path-->
    <add key="ActionsFolderPath" value="C:\inetpub\wwwroot\repsFiles\UserFiles\ActionsFilesFolder\" />
    <add key="DocumentsFolderPath" value="C:\inetpub\wwwroot\repsFiles\UserFiles\DocumentsFilesFolder\" />
    <!--End Of User Files Path-->

    <!--System Files Path-->
    <add key="TemplatesFolderPath" value="C:\inetpub\wwwroot\repsFiles\SystemFiles\TemplatesFilesFolder\" />
    <!--End of System Files Path-->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483644" executionTimeout="1200" />
    <sessionState mode="InProc" timeout="1000"></sessionState>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <!-- Bindings -->
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISearchWorksAPIService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding" maxReceivedMessageSize="2147483647"
          crossDomainScriptAccessEnabled="true">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <!-- End Bindings -->

    <client>
      <endpoint address="https://uatapi.searchworks.co.za/SearchWorksAPI/SearchWorksAPIService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISearchWorksAPIService"
        contract="SearchWorksServiceReference.ISearchWorksAPIService"
        name="WSHttpBinding_ISearchWorksAPIService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <!-- plain old XML -->
        <behavior name="poxBehavior"></behavior>
        <!-- JSON -->
        <behavior name="jsonBehavior"  maxReceivedMessageSize="2147483647">
          <webHttp />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>


          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <WebServiceInterceptor />
        </behavior>
      </serviceBehaviors>


    </behaviors>
    <!-- Extensions to inspect token in header -->
    <extensions>
      <behaviorExtensions>
        <add name="WebServiceInterceptor" type="REPS.WCF.WebServiceInterceptorExtension, REPS.WCF, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <!-- End Extensions -->
    <services>

      <service name="REPS.WCF.BankService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IBankService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.UserService">
        <!-- The user service doesn't require "behaviorConfiguration" -->
        <endpoint contract="REPS.WCF.IUserService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.DealService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IDealService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.CountryService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.ICountryService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.AddressService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IAddressService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.ParticipantService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IParticipantService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.PropertyService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IPropertyService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.OrganizationService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IOrganizationService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.PersonService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IPersonService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.HeaderTabService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IHeaderTabService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.WorkflowService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IWorkflowService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.MortgageService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IMortgageService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.ReportService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IReportService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.AlertsService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IAlertsService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.AuditService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IAuditService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.RoleService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IRoleService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.DocumentService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IDocumentService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.PaymentService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IPaymentService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.EntityService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IEntityService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.DashboardService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.IDashboardService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>
      
      <service name="REPS.WCF.CorrespondenceService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.ICorrespondenceService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

      <service name="REPS.WCF.SearchWorksService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="REPS.WCF.ISearchWorksService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="jsonBehavior" />
      </service>

    </services>
    <protocolMapping>
      <!--<add binding="basicHttpsBinding" scheme="https" />-->
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />

    <!-- to accept large files -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2200000000" />
      </requestFiltering>
    </security>
    <!-- End to accept large files -->
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <!-- Define some output appenders > -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\REPS\repswcf.txt" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] | %-5level | %logger _ [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <!-- Specify the level for some specific categories -->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>