@{
    ViewBag.Title = "Admin Roles";
    Layout = ViewBag.PageLayoutPath;

    if (ViewBag.PageLayoutPath == null)
    {
        @Html.Partial("PartialHeaderAdmin", null, new ViewDataDictionary { { "SelectedTab", "Roles" } })
    }
}


<div class="content" id="content-admin">
    @Html.Partial("PartialAdminRolesList")
</div>