@{
    ViewBag.Title = "Admin User";
    Layout = ViewBag.PageLayoutPath;

    if (ViewBag.PageLayoutPath == null)
    {
        @Html.Partial("PartialHeaderAdmin", null, new ViewDataDictionary { { "SelectedTab", "Users" } })
    }
}

 <script type="text/javascript">
      $(function() {
         
          //Hemraj
          //Clear all params in the query when changing div so that search param does not go to another div
          //get the string following the ?
          var query = window.location.search.substring(1)

          // is there anything there ?
          if (query.length) {
              // are the new history methods available ?
              if (window.history != undefined && window.history.pushState != undefined) {
                  // if pushstate exists, add a new state the the history, this changes the url without reloading the page

                  window.history.pushState({}, document.title, window.location.pathname);
              }
          }

      });
 </script>

<div class="@( ViewBag.PageLayoutPath == null ? "content" : null )" id="content-admin">
    @Html.Partial("PartialAdminUserList")
</div>

