
@{
    Layout = null;
}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="/Images/fav.png">
<script type="text/javascript" src="~/Javascripts/jquery.min.js"></script>
@Scripts.Render("~/Bundles/Scripts")
<link href="@Url.Content("~/CSS/foundation.min.css")" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="~/CSS/app.min.css">
<link rel="stylesheet" href="~/CSS/toastr.min.css">

<div class="login-box">
    <div class="login-content">
        <div class="row reset-row">
            <div class="medium-4 columns reset-columns">
                <img src="~/Images/logo.png" />
            </div> <!-- End of medium-4 columns reset-columns -->

            <div class="medium-8 columns reset-columns">
                <div class="login-forms">
                    <h1>Password Reset</h1>
                    <p>An email has been sent. Please verify your email.</p>
                </div> <!-- End of login-forms -->
            </div> <!-- End of medium-8 columns reset-columns -->
        </div> <!-- End of row reset-row -->
    </div> <!-- End of login-content -->

    <div class="login-footer">
        <div class="row reset-row">
            <div class="small-12 medium-12 large-7 columns reset-columns help-footer">
                <span class="help-link">Need some help? Give us a call on <a href="callto:+27860443333">0860 443 333</a>.</span>
            </div> <!--End of medium-8 columns reset-columns -->

            <div class="small-12 medium-12 large-5 columns align-center sign-in-footer">
                <a id="forgotbutton" class="button align-right" href="@Url.Action("Index", "Login")">Go back to login</a>
            </div> <!--End of medium-4 columns reset-columns -->
        </div> <!-- End of row reset-row -->
    </div> <!-- End of login-footer -->
</div> <!-- End of login-box -->