
@{
    Layout = null;
}
<header id="header-wrapper">
    <div class="mobile-menu">
        <i class="material-icons">menu</i>
        <span id="">Menu</span>
    </div> <!-- End of mobile-menu -->
    <!-- Header Tabs Section Starts Here-->
    <div class="header-tabs-section" id="header-tabs-section">
        <a tabindex="-1" class="" >
            <div class="header-tab hide-on-mobile hide-on-tablet" id="header-tab-selected">
                <h1>Reports</h1>
            </div> <!-- End of header-tab -->
        </a>

    </div> <!-- End of header-tabs-section -->
    <!-- RightHeaderTabPartial -->
    <div class="header-right-section">
     
    </div> <!-- End of header-right-section -->
</header>