<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--SearchWorks Web Config-->
    <add key="SearchWorksUsername" value="trhyman@e4international.com" />
    <add key="SearchWorksPassword" value="P@ssw0rd!" />
    <add key="NewUserEmailTemplate" value="C:\inetpub\wwwroot\repsFiles\SystemFiles\EmailTemplate\" />
    <add key="MailService" value="http://localhost:57275" />
    <add key="mailuser" value="e4testuser@gmail.com" />
    <add key="mailpass" value="e4international" />
    <add key="mailport" value="587" />
    <add key="mailhost" value="smtp.gmail.com" />

    <!--End of SearchWorks Web Config-->
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>


      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <system.serviceModel>

    <!-- Bindings -->
    <bindings>
      <basicHttpBinding>
        <binding name="webHttpBinding_IAuthenticateService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDashboardService" />
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="webHttpBinding_IHeaderTabService" />
        <binding name="webHttpBinding_IAlertsService" />
        <binding name="BasicHttpBinding_IEntityService" />
        <binding name="BasicHttpBinding_IPropertyService" />
        <binding name="BasicHttpBinding_ISearchWorksService" />
        <binding name="webHttpBinding_IMortgageService" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <!-- End Bindings -->

    <!-- behaviors  -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="webhttp">
        </behavior>
        <!-- JSON -->
        <behavior name="jsonBehavior">
          <webHttp defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" helpEnabled="true" />
          <tokenMessageInjector />
          <!-- to add token automatically -->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!-- End behaviors -->

    <!-- Extensions to inject token in header -->
    <extensions>
      <behaviorExtensions>
        <add name="tokenMessageInjector" type="REPS.UI.Models.CustomTokenBehaviorExtensionElement, REPS.UI" />
      </behaviorExtensions>
    </extensions>
    <!-- End Extensions -->

    <!-- client endpoints -->
    <client>
      <endpoint address="http://localhost/RepsAuth/AuthenticateService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="AuthenticateServiceReference.IAuthenticateService"
        name="IAuthenticateService" />
      <endpoint address="http://localhost/RepsWCF/DashboardService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="DashboardServiceReference.IDashboardService"
        name="IDashboardService" />
      <endpoint address="http://localhost/RepsWCF/PersonService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="PersonServiceReference.IPersonService"
        name="IPersonService" />
      <endpoint address="http://localhost/RepsWCF/BankService.svc" behaviorConfiguration="jsonBehavior"
        binding="webHttpBinding" bindingConfiguration="webHttpBinding"
        contract="BankServiceReference.IBankService" name="IBankService" />
      <endpoint address="http://localhost/RepsWCF/DealService.svc" behaviorConfiguration="jsonBehavior"
        binding="webHttpBinding" bindingConfiguration="webHttpBinding"
        contract="DealServiceReference.IDealService" name="IDealService" />
      <endpoint address="http://localhost/RepsWCF/ParticipantService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="ParticipantServiceReference.IParticipantService"
        name="IParticipantService" />
      <endpoint address="http://localhost/RepsWCF/OrganizationService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="OrganizationServiceReference.IOrganizationService"
        name="IOrganizationService" />
      <endpoint address="http://localhost/RepsWCF/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost/RepsWCF/HeaderTabService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="HeaderTabsServiceReference.IHeaderTabService"
        name="IHeaderTabService" />
      <endpoint address="http://localhost/RepsWCF/DashboardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDashboardService"
        contract="DashboardServiceReference.IDashboardService" name="BasicHttpBinding_IDashboardService" />
      <endpoint address="http://localhost/RepsWCF/PropertyService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPropertyService"
        contract="PropertyServiceReference.IPropertyService" name="BasicHttpBinding_IPropertyService" />
      <endpoint address="http://localhost/RepsWCF/CountryService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="CountryServiceReference.ICountryService"
        name="ICountryService" />
      <endpoint address="http://localhost/RepsWCF/SearchWorksService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchWorksService"
        contract="SearchWorksServiceReference.ISearchWorksService" name="BasicHttpBinding_ISearchWorksService" />
      <endpoint address="http://localhost/RepsWCF/AddressService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="AddressServiceReference.IAddressService"
        name="IAddressService" />
      <endpoint address="http://localhost/RepsWCF/WorkflowService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="WorkflowServiceReference.IWorkflowService"
        name="IWorkflowService" />
      <endpoint address="http://localhost/RepsWCF/MortgageService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="MortgageServiceReference.IMortgageService"
        name="IMortgageService" />
      <endpoint address="http://localhost/RepsWCF/EntityService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntityService"
        contract="EntityServiceReference.IEntityService" name="BasicHttpBinding_IEntityService" />
      <endpoint address="http://localhost/RepsWCF/ReportService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="ReportServiceReference.IReportService"
        name="IReportService" />
      <endpoint address="http://localhost/RepsWCF/AlertsService.svc"
        behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
        bindingConfiguration="webHttpBinding" contract="AlertsServiceReference.IAlertsService"
        name="IAlertsService" />
      <endpoint address="http://localhost/RepsWCF/AuditService.svc"
             behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
             bindingConfiguration="webHttpBinding" contract="AuditServiceReference.IAuditService"
             name="IAuditService" />

      <endpoint address="http://localhost/RepsWCF/RoleService.svc"
             behaviorConfiguration="jsonBehavior" binding="webHttpBinding"
             bindingConfiguration="webHttpBinding" contract="RoleServiceReference.IRoleService"
             name="IRoleService" />

    </client>
    <!-- end client endpoints -->

  </system.serviceModel>

  <log4net>
    <!-- Define some output appenders > -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\REPS\repsui.txt" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] | %-5level | %logger _ [%ndc] - %message%newline  %newline ########################################### %newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <!-- Specify the level for some specific categories -->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

</configuration>
